/* .table .junk {background-color: #f1f1f1;} 
.table .fine {background-color: #d9edf7;}
.table .masterwork {background-color: #dbf7d0;}
.table .rare {background-color: #ffff9f;}
.table .exotic {background-color: #ffe5b7;}
.table .ascended {background-color: #ffe3ef;}
.table .legendary {background-color: #e8dbfb;} */

body {background: url('crossword.png') repeat 0 0;}

.table  {background-color: #fdfdfd;}

.table>tbody>tr>td {vertical-align: middle;}

/* .table-hover>tbody>tr.junk:hover  {background-color: #e4e4e4;}
.table-hover>tbody>tr.fine:hover  {background-color: #b4def5;}
.table-hover>tbody>tr.masterwork:hover  {background-color: #bdecaa;}
.table-hover>tbody>tr.rare:hover  {background-color: #f9f971;}
.table-hover>tbody>tr.exotic:hover  {background-color: #f7d290;}
.table-hover>tbody>tr.ascended:hover  {background-color: #f9c3da;}
.table-hover>tbody>tr.legendary:hover  {background-color: #d2bbf3;} */
.table-hover>tbody>tr.junk:hover  {background-color: #f1f1f1;}
.table-hover>tbody>tr.fine:hover  {background-color: #d9edf7;}
.table-hover>tbody>tr.masterwork:hover  {background-color: #dbf7d0;}
.table-hover>tbody>tr.rare:hover  {background-color: #ffff9f;}
.table-hover>tbody>tr.exotic:hover  {background-color: #ffe5b7;}
.table-hover>tbody>tr.ascended:hover  {background-color: #ffe3ef;}
.table-hover>tbody>tr.legendary:hover  {background-color: #e8dbfb;}


.table  .junk a:link{color: #868686;}
.table  .junk a:visited{color: #868686;}
.table  .basic a:link{color: #000000;}
.table  .basic a:visited{color: #000000;}
.table  .fine a:link{color: #62a4da;}
.table  .fine a:visited{color: #62a4da;}
.table  .masterwork a:link{color: #1a9306;}
.table  .masterwork a:visited{color: #1a9306;}
.table  .rare a:link{color: #fcd00b;}
.table  .rare a:visited{color: #fcd00b;}
.table  .exotic a:link{color: #ffa405;}
.table  .exotic a:visited{color: #ffa405;}
.table  .ascended a:link{color: #fb3e8d;}
.table  .ascended a:visited{color: #fb3e8d;}
.table  .legendary a:link{color: #4c139d;}
.table  .legendary a:visited{color: #4c139d;}

h1.junk, h2.junk, h3.junk {color: #868686;}
h1.basic, h2.basic, h3.basic {color: #000000;}
h1.fine, h2.fine, h3.fine {color: #62a4da;}
h1.masterwork, h2.masterwork, h3.masterwork {color: #1a9306;}
h1.rare, h2.rare, h3.rare {color: #fcd00b;}
h1.exotic, h2.exotic, h3.exotic {color: #ffa405;}
h1.ascended, h2.ascended, h3.ascended {color: #fb3e8d;}
h1.legendary, h2.legendary, h3.legendary {color: #4c139d;}
