{% load static %}
{% load commerce_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="ROBOTS" content="NOINDEX, FOLLOW">
    <!--<link rel="shortcut icon" href="favicon.ico">-->

    <title>{% block title %}{% endblock %} - Gold Wars Plus</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static commerce %}commerce/theme.css">
  </head>

  <body role="document"> 
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Gold Wars Plus</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'commerce:home' %}">Home</a></li>
            <li><a href="{% url 'commerce:item_list' %}">Browse Items</a></li>
            <li><a href="{% url 'commerce:recipe_list' %}">Browse Recipes</a></li>
            <li><a href="{% url 'commerce:limitedproduction_list' %}">Time-Gated Items</a></li>
            <li><a href="{% url 'commerce:craftingprofit_list' %}">Craft and Sell</a></li>
            <li><a href="{% url 'commerce:craftingprofitdelay_list' %}">Craft and List</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>{% get_database_status %}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div style="height:50px"></div>
    <div class="container theme-showcase" role="main">
      <!--<img src="assets/banner1.jpg" width="100%">--> 
      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
