{% extends "commerce/base.html" %}
{% load static %}
{% load commerce_extras %}

{% block title %}
    Browse Items
{% endblock %}

{% block content %}
    <table class="table table-hover table-condensed text-right">
        <tr>
            <th class="text-left">Item ID</th>
            <th class="text-left">Icon</th>
            <th class="text-left">Name</th>
            <th class="text-right">Type</th>
            <th class="text-right">Level</th>
            <th class="text-right">Vendor Value</th>
        </tr>
    {% for item in item_list %}
        <tr class="{{ item.rarity|lower }}">
            <td class="text-left">{{ item.item_id }}</td>
            <td class="text-left"><img src="{% static commerce %}commerce/items/{{ item.icon.static_id }}" height="30" width="30" alt="item icon" />
            <td class="text-left"><a href="{% url 'commerce:item_detail' item.item_id %}"><strong>{{ item.name }}</strong></a></td>
            <td>{{ item.type }}</td>
            <td>{{ item.level }}</td>
            <td>
                {% if item.vendor_value %}
                    {% show_coins item.vendor_value %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
                <li>
                  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
            {% endif %}
            <li><span aria-hidden="true">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}