{% extends "commerce/base.html" %}
{% load static %}
{% load commerce_extras %}

{% block title %}
    Recipe Detail - {{ recipe_info.output_item_id.name }}
{% endblock %}

{% block content %}
    <h1 class="{{ recipe_info.output_item_id.rarity|lower }}">Recipe for {{ recipe_info.output_item_id.name }}</h1>
    <dl class="dl-horizontal">
        <dt>Recipe ID:</dt><dd>{{ recipe_info.recipe_id }}</dd>
        <dt>Type:</dt><dd>{{ recipe_info.type }}</dd>
        <dt>Created Item ID:</dt><dd><a href="{% url 'commerce:item_detail' recipe_info.output_item_id.item_id %}">{{ recipe_info.output_item_id.item_id }}</a></dd>
        <dt>Number Created</dt><dd>{{ recipe_info.output_item_count }}</dd>
        <dt>Disciplines:</dt><dd>
            {% for discipline, exists in recipe_info.recipediscipline.get_disciplines %}
                {% if exists %}
                    <img src="{% static commerce %}commerce/{{ discipline|lower }}.png" height="26" alt="{{ discipline|lower }} icon" />
                {% endif %}
            {% endfor %}
            </dd>
        <dt>Minimum Rating</dt><dd>{{ recipe_info.min_rating }}</dd>
        <dt>Is Time Limited</dt><dd>{% if recipe_info.economicsforrecipe.limited_production %}Yes{% else %}No{% endif %}</dd>
        <dt>Learned:</dt><dd>{% if recipe_info.AutoLearned %}automatically{% endif %}
            {% if recipe_info.LearnedFromItem %}from item{% endif %}</dd>
        <dt>Added:</dt><dd>{{ recipe_info.date_added }}</dd>
        <dt>Ingredients:</dt><dd>
            <div class="col-md-7">
            <table class="table table-hover table-condensed text-right">
                <tr>
                    <th class="text-left"></th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Count</th>
                    <th class="text-right">Unit Cost</th>
                </tr>
                {% for ingredient in recipe_info.recipeingredient_set.all %}
                <tr class="{{ ingredient.item_id.rarity|lower }}">
                    <td class="text-left"><img src="{% static commerce %}commerce/items/{{ ingredient.item_id.icon.static_id }}" height="25" width="25" alt="item icon" /></td>
                    <td class="text-left"><a href="{% url 'commerce:item_detail' ingredient.item_id.item_id %}"><strong>{{ ingredient.item_id.name }}</strong></a></td>
                    <td class="text-left">{{ ingredient.count }}</td>
                    <td>
                        {% if ingredient.item_id.selllisting_set.first.unit_price %}
                            {% show_coins ingredient.item_id.selllisting_set.first.unit_price %}
                        {% else %}
                            Not Available
                        {% endif %}
                        </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </dd>
    </dl>
{% endblock %}