{% extends "commerce/base.html" %}

{% block title %}
    Update Database
{% endblock %}

{% block content %}
    {% if api_error %}
        <p><strong>Unable to contact Guild Wars API:</strong> {{ api_error }}</p>
    {% endif %}

    <h1>Update database</h1>
    
    {% if num_items >= 0 %}
        <p><strong>There are {{ num_items }} items in the database</strong></p>
    {% endif %}
    
    {% if num_recipes >= 0 %}
        <p><strong>There are {{ num_recipes }} recipes in the database</strong></p>
    {% endif %}
    
    {% if total_items_added >= 0 %}
        <p><strong>Added {{ total_items_added }} new items</strong></p>
    {% elif total_recipes_added >= 0 %}
        <p><strong>Added {{ total_recipes_added }} new recipes</strong></p>
    {% endif %}
    
    <form action="{% url 'commerce:update' %}" method="post">
    {% csrf_token %}
        <div><br>{{ form }}<br><br></div>
        <input type="submit" value="Update database" />
    </form>
{% endblock %}
